@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #242424;
  --text-secondary: #585858;

  /* Brand colors */
  --red-violet: #aa18a3;
}

.dark,
[data-theme = "dark"] {
  --bg-primary: #131416;
  --bg-secondary: #1c1c1c;

  --text-primary: #bebebe;
  --text-secondary: #dedede;
}

html,
body {
  font-family: Poppins;
  @apply bg-primary text-primary overflow-x-hidden;
}


.glass {
  @apply backdrop-blur-sm;
}

.overlay {
  @apply bg-secondary opacity-70 w-full h-full absolute cursor-pointer;
}

.lock-scroll {
  overflow-y: hidden !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.ripple {
  background-position: center;
  transition: background 0.7s;
}
.ripple:hover {
  background: #FB923C radial-gradient(circle, transparent 1%, #F97316 1%) center/15000%;
}
.ripple:active {
  background-color: #FB923C;
  background-size: 100%;
  transition: background 0s;
}